<h1>Listing albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Released</th>
    <th colspan="3"></th>
  </tr>
 
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.artist %></td>
      <td><%= album.genre %></td>
      <td><%= album.released %></td>
      <td><%= link_to 'Show', album_path(album) %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
      <td><%= link_to 'Destroy', album_path(album),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<%= link_to 'Back to Main Page', root_path %>